.product-card {
  break-inside: avoid;
}
nav { list-style: none;}

table img {
  max-height: 4em;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/head.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  color: white;
}
header h1 { color: white;}

.colorchange{
	animation:  colorchange 3s infinite;
}

table { margin: 2em auto;}
#map { margin: 2em;}

@keyframes colorchange{
	0%{color: red;}
	25%{color:#ecd055 ;}
	50%{ color: white; }
	100%{ color:#ecd055	  }
}

