.product-card {
  break-inside: avoid;
}
nav { list-style: none;}

table img {
  max-height: 4em;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/head.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  color: white;
}
header h1 { color: white;}

.colorchange{
	animation:  colorchange 3s infinite;
}

table { margin: 0; }
#map { margin: 1em;
}
table, #map { border: .5rem solid rgba(20,20,20,.8);}

@keyframes colorchange{
	0%{color: red;}
	25%{color:#ecd055 ;}
	50%{ color: white; }
	100%{ color:#ecd055	  }
}

.layout-container  {
  display: flex;
  margin: 1em;
  flex-wrap: wrap;
}
.layout-container > * {
  flex: 1 1 auto; 
}
#gcash-payment {
  height: 20em;
  text-align: center;
}
#gcash-payment img {
  height: 100%;
}
